{% extends "home.html" %}
{% block content %}
<p>
    <a class="navf" href="/">home</a>
    <text class="idk">\</text>
    <a class="navf" href="https://github.com/rmdir-june/hentai-rater.moe">github</a>
</p>
<div class="containy">
    <div class="about column2 align-items-center shadow p-3 mb-5 rounded hover-zoom">
        <h1 align="center" style="color: white;">About Hentai-Rater:</h1>
        <h5 class="header" style="white-space: normal;">Enter a hentai link, and we will judge you. Most popular sites are
            supported. (hentaihaven is not cuz its bad lol)<br><br>
        We also have a <a class="navf" href=""><strong>discord bot</strong></a>, and CLI is coming soon!<br><br>
        Links that have never been reviewed before may take up to 6 seconds to be rated, but those that have been previo
            usly rated should never take more than a second or two.
        </h5>
    </div>
</div>
{% endblock %}
